<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='{{ subFolder }}/stylesheets/style.css' />
    <script src="{{ subFolder }}/javascripts/admin-page.js"></script>
  </head>
  <body onLoad="setListeners();">
    {{{body}}}
    <script src="{{ subFolder }}/javascripts/jquery-3.3.1.min.js" type="text/javascript"></script>
  </body>
</html>
